.col-lg-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: white;
  padding: 0px;
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
  padding: 0px 5px;
}

a:hover {
  color: grey;
}

.footer {
  background-color: black;
  padding: 10px 10px;
  overflow: hidden;
}
